/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    height: 100vh;
    position:relative;
}
/* body:after
actually your code gives a container for this */
.clearfix {
    /*content:'';
display:block;*/
    width: 100%;
    order: 1;
}

.responsive {
    border: solid;
    margin: 0;
}

    .responsive:nth-child(1) {
        margin-bottom: auto;
        margin-right: auto;
        order: 0;
        
    }

    .responsive:nth-child(2) {
        margin-bottom: auto;
        margin-left: auto;
        order: 0;
    }

    .responsive:nth-child(3) {
        margin-top: auto;
        margin-right: auto;
        order: 2;
    }

    .responsive:nth-child(4) {
        margin-top: auto;
        margin-left: auto;
        order: 2;
    }
.bg {
margin: auto;
left: 0;
right: 0;
transition: all .3s ease-in-out;
}
.play{
    bottom:0%;
    animation: slidedown 3s;
  }
.playtopleft{
    top:0%;
    animation: slideleft 3s;
} 
.playtopright{
    top:0%;
    animation: slideright 3s;
} 
.playbottomleft{
    bottom:0%;
    animation: slideleft 3s;
} 
.playbottomright{
    bottom:0%;
    animation: slideright 3s;
} 
  @keyframes slidedown {
    0%   {bottom: 100%;}
    100% {bottom: 0%;}
  }
  @keyframes slideright {
    0%   {left: 0%;}
    100% {left: 90%;}
  }
  @keyframes slideleft {
    0%   {right: 0%;}
    100% {right: 90%;}
  }
  .unplay{
    bottom: 0%;
    
  }

  .score{
    font-weight: bold;
    font-size: large;
    position: absolute;
    left: 50%;
  }